.navbar-container {
    padding: 10px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.navbar-logo-container, .navbar-list, .navbar-account-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-list {
    list-style: none;
    /* background-color: red; */
    gap: 30px;
}

.navbar-list li a {
    color: #00631C;
    font-weight: 700;
    text-decoration: none;
}

.navbar-account-list {
    gap: 30px;
}

.logged-in-user div {
    display: inline-block;
}

.more-menus {
    display: none;
}


@media(max-width: 1240px) {
    .navbar-logo-container {
        /* background: red; */
        
    }

    .company-name {
        position: relative;
        bottom: 5px;
        right: 15px;
    }

    .logged-in-user-text p {
        display: none;
    }
}

@media(max-width: 1120px) {
    .more-menus {
        display: inline-block;
    }

    .contact, .blog {
        display: none;
    }
}

@media(max-width: 1000px) {
    .dashboard-search-bar {
        display: none;
    }
}

@media(max-width: 790px) {
    
}