.navbar-container {
    padding: 10px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.navbar-logo-container, .navbar-list, .navbar-account-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-list {
    list-style: none;
    /* background-color: red; */
    gap: 30px;
}

.navbar-list li a {
    color: #00631C;
    font-weight: 700;
    text-decoration: none;
}

.navbar-account-list {
    gap: 30px;
}

.logged-in-user div {
    display: inline-block;
}

.more-menus {
    display: none;
}

.hamburger-menu {
    display: none;
}

.lock {
    display: none;
}

.company-name {
    color: #00631C;
}

@media(max-width: 1240px) {

    .company-name {
        position: relative;
        bottom: 5px;
        right: 15px;
    }

    .logged-in-user-text p {
        display: none;
    }
}

@media(max-width: 1120px) {
    .more-menus {
        display: inline-block;
    }

    .contact, .blog {
        display: none;
    }
}

@media(max-width: 1000px) {
    .dashboard-search-bar {
        display: none;
    }
}

@media(max-width: 790px) {
    .hamburger-menu {
        display: inline-block;
    }

    .lock {
        display: inline-block;
    }

    .navbar-list, .navbar-account-list, .home, .about {
        display: none;
    }

    .navbar-logo-container {
        gap: 10px;
    }

    .company-logo {
        font-size: 24px;
    }

    .hamburger-menu, .lock {
        font-size: 24px;
    }
}

@media(max-width: 630px) {
    .navbar-container {
        padding: 5px 30px;
    }
}

@media(max-width: 430px) {
    .navbar-logo-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .company-logo {
        display: none;
    }
    
    .company-name {
        position: static;
    }
}