.questions-container {
    /* background-color: gold; */
    /* display: inline-block; */
    
    /* border: 1px solid black; */
    width: 60%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
    gap: 50px;
}

.question-card {
    margin-bottom: 30px;
    /* background-color: red; */
    margin-top: 100px;
}

